@import "../../../styles/color";

.diagram-toolbar-container {
    background-color: $toolbar-color;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .toolbar-icon {
        color: white;
        margin: 0 10px;
    }

    .toolbar-icon :hover {
        cursor: pointer;
    }

    .disabled-icon {
        margin: 0 10px;
        color: gray;
    }
}
