@import "../../../styles/color";
@import "../../../styles/size";

.toolbar-container {
    background-color: $toolbar-color;
    height: $toolbarHeight;
    display: flex;
    align-items: center;
    width: 100%;

    .tab {
        height: 100%;
        width: fit-content;
        padding: 0 15px;
        background-color: $editor-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $sidebar-text-color;
    }

    .toolbar-operations {
        position: absolute;
        right: 2em;
        .toolbar-icon {
            color: $sidebar-text-color;
            margin: 0 10px;
        }

        .toolbar-icon :hover {
            cursor: pointer;
        }
    }
}
