@import "../../../styles/color";

.gnomon-tree {
    background-color: $sidebar-tree-color;
}

.gnomon-tree-node {
    display: flex;
    align-items: center;

    .prefix {
        margin: 0 5px 0 0;
    }
}

.ant-tree-list {
    color: $sidebar-text-color;
}
