.meta-action-bar {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.meta-add-icon {
    margin: 1em 0;
}

.meta-attribute-container {
    padding: 20px 0;
    .logo {
        height: 20px;
        width: 20px;
        margin: 0 3px;
    }

    .field-container {
        display: flex;
        align-items: center;

        .ant-form-item {
            margin: 5px 10px;
        }

        .dynamic-delete-button {
            margin: 0 0 0 5px;
        }

        .AddField {
            margin: 10px 0 0 0;
        }
    }

    .ant-select-selection-item {
        display: flex;
        align-items: center;
    }
}
