@import "../../styles/size";
@import "../../styles/color";

.edit-page-root {
    height: 100%;

    .edit-page-sidebar {
        height: 100%;
    }
    aside {
        height: 100%;
        width: 100%;

        .ant-layout-sider-children {
            width: 100%;
            height: 100%;
            
            .ant-tree {
                height: 100%;
            }
        }
    }

    .editor-page-content {
        background-color: $editor-color;
    }
    
    .status-bar {
        background-color: $status-bar-color;
        height: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
